<!DOCTYPE html>
<html lang="sv-SE">
    <head>
        <title>{{ site.title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.10.1/dist/css/uikit.min.css" />
        <style>
          body  {
            margin-top: 2.5rem;
            min-height: 100vh;
            color: #465A56;
          }
        </style>    
        </head>
    <body>
        <main class="uk-container">
            <article>
                {{ content }}
            </article>
        </main>
    </body>
</html>